
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout_main.cshtml";
}

@section header{
    <script type="text/javascript">
        window.onload = function () {

            var app = new Vue({
                el: '#app',
                data: {
                    message: '안녕하세요 Vue!' + '[@ViewBag.Text]'
                }
            })

            var app2 = new Vue({
                el: '#app-2',
                data: {
                    message: '이 페이지는 ' + new Date() + ' 에 로드 되었습니다'
                }
            }) 
        };

        var singleton = (function () {
            var instance;
            var a = 'hello';
            function initiate() {
                return {
                    a: a,
                    b: function () {
                        alert(a);
                    }
                };
            }
            return {
                getInstance: function () {
                    if (!instance) {
                        instance = initiate();
                    }
                    return instance;
                }
            }
        })();
        var first = singleton.getInstance();
        var second = singleton.getInstance();
        console.log(first === second); // true;
        console.log(first.a);
        second.b();
    </script>    
}

@section body{  
    <h2>Index</h2>

    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
        </span>
    </div>
}
    
@section footer{
<div>
    메롱
</div>
}