<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/vue.js"></script>
    @RenderSection("header")
</head>
<body>
    <div>
        @RenderSection("body")
    </div>

    @RenderSection("footer")
</body>
</html>
